/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
DROP TABLE IF EXISTS `customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customer` (
  `id_customer` int(11) NOT NULL AUTO_INCREMENT,
  `nama_customer` varchar(150) NOT NULL,
  `perusahaan_cust` varchar(150) DEFAULT NULL,
  `alamat` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_customer`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `customer` WRITE;
/*!40000 ALTER TABLE `customer` DISABLE KEYS */;
INSERT INTO `customer` VALUES (1,'Dewi Gita',NULL,'Jl. Anggrek No. 14, Depok'),(2,'drg. Fajar Sadboy','Klinik Gigi Senyum Sehat','Jl. Margonda Raya No. 67, Depok'),(3,'Rusdi Ramadan',NULL,'Perum Citra Indah Blok B2, Cibinong'),(4,'Ny. Lina Marlina','Posyandu Mawar Melati','Jl. Kemuning No. 5, Cimanggis'),(5,'Ridwan Kamil',NULL,'Jl. Raya Sawangan No. 33, Depok');
/*!40000 ALTER TABLE `customer` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `detail_faktur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detail_faktur` (
  `id_detail` int(11) NOT NULL AUTO_INCREMENT,
  `id_faktur` int(11) NOT NULL,
  `no_faktur` varchar(50) NOT NULL,
  `id_produk` int(11) NOT NULL,
  `qty` int(11) NOT NULL DEFAULT 1,
  `batch` varchar(50) DEFAULT NULL,
  `expired_date` date DEFAULT NULL,
  `price` decimal(15,2) NOT NULL DEFAULT 0.00,
  PRIMARY KEY (`id_detail`),
  KEY `idx_detail_faktur` (`id_faktur`),
  KEY `idx_detail_no_faktur` (`no_faktur`),
  KEY `idx_detail_produk` (`id_produk`),
  CONSTRAINT `fk_detail_id_faktur` FOREIGN KEY (`id_faktur`) REFERENCES `faktur` (`id_faktur`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_detail_no_faktur` FOREIGN KEY (`no_faktur`) REFERENCES `faktur` (`no_faktur`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_detail_produk` FOREIGN KEY (`id_produk`) REFERENCES `produk` (`id_produk`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `detail_faktur` WRITE;
/*!40000 ALTER TABLE `detail_faktur` DISABLE KEYS */;
INSERT INTO `detail_faktur` VALUES (5,3,'FK/0625/001',4,2,'A1','2028-06-25',22000.00),(6,4,'FK/0625/004',1,4,'E3','2028-11-25',12500.00),(7,4,'FK/0625/004',2,5,'SM2','2030-09-25',8500.00);
/*!40000 ALTER TABLE `detail_faktur` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `faktur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `faktur` (
  `id_faktur` int(11) NOT NULL AUTO_INCREMENT,
  `no_faktur` varchar(50) NOT NULL,
  `tgl_faktur` date NOT NULL,
  `due_date` date DEFAULT NULL,
  `metode_bayar` varchar(50) DEFAULT NULL,
  `ppn` decimal(15,2) NOT NULL DEFAULT 0.00,
  `dp` decimal(15,2) NOT NULL DEFAULT 0.00,
  `grand_total` decimal(15,2) NOT NULL DEFAULT 0.00,
  `user` varchar(100) DEFAULT NULL,
  `id_customer` int(11) NOT NULL,
  `id_perusahaan` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_faktur`),
  UNIQUE KEY `uq_no_faktur` (`no_faktur`),
  KEY `idx_faktur_customer` (`id_customer`),
  KEY `idx_faktur_perusahaan` (`id_perusahaan`),
  CONSTRAINT `fk_faktur_customer` FOREIGN KEY (`id_customer`) REFERENCES `customer` (`id_customer`) ON UPDATE CASCADE,
  CONSTRAINT `fk_faktur_perusahaan` FOREIGN KEY (`id_perusahaan`) REFERENCES `perusahaan` (`id_perusahaan`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `faktur` WRITE;
/*!40000 ALTER TABLE `faktur` DISABLE KEYS */;
INSERT INTO `faktur` VALUES (3,'FK/0625/001','2026-06-25','2026-07-03','Tunai',4840.00,20000.00,28840.00,'kepin',1,6,'2026-06-25 04:32:01'),(4,'FK/0625/004','2026-06-25','2026-06-29','Transfer Bank',10175.00,50000.00,52675.00,'dinda',4,3,'2026-06-25 04:49:36');
/*!40000 ALTER TABLE `faktur` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `perusahaan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `perusahaan` (
  `id_perusahaan` int(11) NOT NULL AUTO_INCREMENT,
  `nama_perusahaan` varchar(150) NOT NULL,
  `alamat` varchar(255) DEFAULT NULL,
  `telp` varchar(20) DEFAULT NULL,
  `fax` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id_perusahaan`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `perusahaan` WRITE;
/*!40000 ALTER TABLE `perusahaan` DISABLE KEYS */;
INSERT INTO `perusahaan` VALUES (1,'PBF Kimia Farma Trading','Jl. Veteran No. 9, Jakarta Pusat','021-3845671','021-3845672'),(2,'PT Anugerah Pharma Indonesia','Jl. Raya Bekasi KM 21, Bekasi Timur','021-8896213',NULL),(3,'CV Mitra Sehat Farma','Jl. Dr. Setiabudi No. 56, Bandung','022-2034871','022-2034872'),(4,'PT Enseval Putera Megatrading','Jl. Pulo Lentut No. 10, Jakarta Timur','021-4602345','021-4602346'),(5,'Apotek Sari Asih','Jl. Margonda Raya No. 112, Depok','021-7710098',''),(6,'Apotek Kawi Jaya','Jl. Griya Jakarta No 12. Pamulang','021-499-297','021-499-297');
/*!40000 ALTER TABLE `perusahaan` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `produk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produk` (
  `id_produk` int(11) NOT NULL AUTO_INCREMENT,
  `nama_produk` varchar(150) NOT NULL,
  `price` decimal(15,2) NOT NULL DEFAULT 0.00,
  `jenis` varchar(50) DEFAULT NULL,
  `satuan` varchar(20) DEFAULT NULL,
  `stock` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id_produk`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `produk` WRITE;
/*!40000 ALTER TABLE `produk` DISABLE KEYS */;
INSERT INTO `produk` VALUES (1,'Bodrex Flu & Batuk PE',12500.00,'Obat Bebas','strip',60),(2,'Vitamin C 50mg Kimia Farma',8500.00,'Suplemen','strip',90),(3,'Paracetamol Extra 500mg',9000.00,'Obat Bebas Terbatas','strip',75),(4,'Amoxicillin 500mg',22000.00,'Obat Keras','strip',40),(5,'Sanmol Drop Infus',15000.00,'Obat Keras','ampul',30),(7,'Omeprazol',25000.00,'Obat Keras','strip',35);
/*!40000 ALTER TABLE `produk` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

